html, body {
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
display: flex;
flex-direction: column;
align-items: center;
gap: 32px;
}

#victory-card {
    font-size: 64px;
    position: fixed;
    width: 450px;
    height: 300px;
    background-color: mintcream;
    border-radius: 16px;
    top: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: clamp(300px, 700px, 100%);
    flex-shrink: 0;
}

.space {
    background-color: white;
    border: none;
}

.space-inner {
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-inner:hover {
    background-color: rgb(163, 195, 255);
    border-radius: 16px;
}

#top-left {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

#top {
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

#top-right {
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

#left {
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

#center {
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

#right {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

#bottom-left {
    border-top: solid 1px black;
    border-right: solid 1px black;
}

#bottom {
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-left: solid 1px black;
}

#bottom-right {
    border-top: solid 1px black;
    border-left: solid 1px black;
}

#score-area {
    display: flex;
    justify-content: space-between;
    width: 300px
}

.player-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-area > p {
    font-size: 32px;
    margin: 0px;
}

.player-name {
    text-decoration: underline;
}

